extends layout

block content
  h3 #{title}: #{book.title}
  
  p #[strong Author:] &nbsp
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  if book.genre[0]!=null
    p #[strong Genre:] &nbsp;
      a(href=book.genre[0].url) #{book.genre[0].name}
  p
    a(href=book.url+'/delete') Delete Book
  p
    a(href=book.url+'/update') Update Book
  div 
    h4 Copies
    each val in book_instances
      hr 
      if val.status=='Available'
        span.badge.success #{val.status}
      else if val.status=='Maintenance'
        span.badge.danger #{val.status}
      else
        span.badge.warning #{val.status}
      p #[strong Imprint:] #{val.imprint}
      if val.status!='Available'
        p #[strong Due back: ] #{val.due_back_formatted}
      p #[strong Id:]&nbsp;
        a(href=val.url) #{val._id}
    
    else
      p There are copies of this book in the library.
      