extends layout

block content
  h1 ID: #{bookinstance._id}
  
  p #[strong Book Title:] &nbsp
    a(href=bookinstance.book.url) #{bookinstance.book.title}
  p #[strong Imprint:] #{bookinstance.imprint}
  
  p #[strong Status:] &nbsp;
    if bookinstance.status=='Available'
      span.badge.success #{bookinstance.status}
    else if bookinstance.status=='Maintenance'
      span.badge.danger #{bookinstance.status}
    else
      span.badge.warning #{bookinstance.status}
  
  if bookinstance.status!='Available'
    p #[strong Due back: ] #{bookinstance.due_back_formatted}
  
  p
    a(href=bookinstance.url+'/delete') Delete BookInstance
  