extends layout

block content
    h1 #{title}: #{genre.name}
    
    if books.length > 0
        
        p #[strong Delete the following books before attempting to delete this genre.]
        
        div(style='margin-left:20px; margin-top:20px')
            dl Genre: #{genre.name}
            each book in books
                dd
                    a(href=book.url) #{book.title}
    else 
        p Do you really want to delete this genre?
        
        form(method='POST' action='')
            div.form-group
                input#genreid.form-control(type='hidden', name='genreid', required='true', value=genre._id)
                
            button(type='submit') Delete